@import '../base.less';
@import '../common/detailTable.less';
.Officer {
  .off-detail {
    position: fixed;
    top: 0;
    right: 0px;
    height: 100%;
    left: 360px;
    padding-top: 64px;
    box-sizing: border-box;
    transition: left 0.5s;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
  }
  .detail-table {
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
  }
  .p-icon {
    position: absolute;
    background: #169bd5;
    color: #fff;
    border-radius: 0 32px 32px 0;
    width: 10px;
    height: 56px;
    top: 50%;
    line-height: 56px;
  }
  .left-max {
    left: 100%;
  }
  .left-min {
    left: 360px;
  }
}
