{
  "presets": [
    ["env", { "modules": false }],
    "react",
    "stage-0",
    "stage-1"
  ],
  "plugins": ["react-hot-loader/babel","transform-decorators-legacy", "transform-runtime",["import",{
		"libraryName": "antd",
		"libraryDirectory": "es", "style": "true" 
	}]]
}
