.AddDogForm {
  .pre-container {
    width: 120px;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    img {
      width: 100px;
      height: 100px;
      cursor: pointer;
    }
    .clear {
      position: absolute;
      top: -12px;
      right: -12px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        color: #f5222d;
        font-size: 20px;
      }
    }
  }
  .imageContent {
    // float:left;
    position: absolute;
    top: 0;
    // background: rgba(0,0,0,0);
  }
}
