@padding:8px 0px;
.indexComponent{
	.header{
		padding-left:15px!important;
		background:linear-gradient(160deg, #3c8ce7, #00eaff);
		.collapsed{
			margin-bottom: 12px ;
			margin-left:20px;
			background:transparent;
			border:none;
			font-size:20px;
		}
	}
	.usermsg{
		background:rgba(255,255,255,0);
		padding:@padding;
		li{
			padding-bottom: 8px;
		}
	}
}






