@import "commonTab.less";
.table-operations {
  margin-bottom: 16px;
}

.table-operations > button {
  margin-right: 8px;
}

.deployCards{ border-radius: 8px ; 
  .ant-card-actions{ border-radius: 0px 0px 8px 8px!important}
}
.cardsList-div {
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.s-table-detail {
	color: #1890ff;
	cursor: pointer;
}
.s-table-edit {
	color: #1890ff;
	cursor: pointer;
}
.s-table-del {
	cursor: pointer;

	&:hover{
		color: #ff0000;
	}
}
.s-table-mar30{
	margin: 0 30px;
}